/* body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #55D8C1;
  --secondary: #b671d2;
  --tertiary: #FF6FB5;
  --quaternary: #FCF69C;
}